
body {
    margin: 0;
    min-height: 100vh;
}
  
body > * {
    box-sizing: border-box;
}

html {
    color: #484f4f;
    font-family: sans-serif;
}

li {
  list-style: none;
}

button {
    cursor: pointer;
}

input {
    padding: 5px;
    margin: 10px;
    color: #484f4f;
    font-family: sans-serif;
}

input[type='textarea']{
  width: 75%;
}

.sidebar {
  display: block;
  position: absolute;
  top: 123px;
  bottom: 0;
  width: 200px; 
  background-color: lightgrey; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

.all-projects {
    display: block;
    margin-right: 2rem;
}

.printed-proj {
    margin-left: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.new-proj-button {
    cursor: pointer;
    display: flex;
    font-size: 16px;
    background-color: white;
    border: none;
    color: blue;
    border-radius: 50%;
    margin: 16px 4px;
    padding: 10px;
}

.proj-btn {
    width: 100%;
    padding: 12px 28px;
    display: inline-block;
    border: none;
    font-size: 16px;
    font-family: inherit;
    color: inherit;
}

.proj-todos {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3.5rem;
}

.todo-card {
    width: 75%;
    border-radius: 10px;
    padding: 10px;
    margin: .5rem 0;
}

.critical{
    border: 2px solid red;
}

.high{
    border: 2px solid #FF8C00;
}

.medium{
    border: 2px solid #DAA520;
}

.low{
    border: 2px solid green;
}

.card-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-checkbox-title {
    display: flex;
    align-items: center;
}

.card-title {
    padding-left: 10px;
    color: inherit;
    font-family: inherit;
    font-size: 18px;
}

.card-del-btn, .expand-collapse-btn  {
    background-color: transparent;
    border: none;
}

.fa-trash, .fa-chevron-down {
    color: #4682B4;
}

.card-date {
    text-align: left;
    margin-left: 5px;
    font-size: 14px;
}

.active, .expand-collapse-btn:hover {
    color: blue;
}

.collapsible{
    padding: 10px;
    margin: .5rem 0;
    display: none;
    overflow: hidden;
}

.todo-form {
    padding-top: 25px;
    align-items: center;
    justify-content: center;
}

.submit {
   float: right;
   padding: 10px;
   border: none;
   border-radius: 10px;
   color: white;
   background-color: #4682B4;
}

.edit-todo-priority {
    padding: 5px;
    margin: 10px;
    color: #484f4f;
    font-family: sans-serif;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    margin: .5rem;
    padding: 1rem;
    position: relative;
}

.main-header {
  align-items: center;
  text-align: left;
  padding: 5px;
  background-color: aliceblue;
}

.content {
  width: 100vw;
  min-height: 100vh;
}